.TopSection
{
    background-image: url('https://cdn1.tripoto.com/assets/2.9/img/home_banner_road.jpg');
height: 360px;
background-size: auto;
background-size: 100% 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

/* .inputBox
{
    display:"block";
        width:"630px";
        height:"52px";
        border-radius:"6px";
        padding:"12px 33px 12px 20px"
} */