.TopDiv{
    background-image: url('https://cdn1.tripoto.com/assets/2.9/img/home_banner_road.jpg');
    height: 360px;
    background-size: auto;
    background-size: 100% 100%;
}

.TopSection
{ 
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}